Package           Version
----------------- -----------
aiohttp           3.7.4.post0
appdirs           1.4.4
async-timeout     3.0.1
attrs             21.2.0
beautifulsoup4    4.9.3
black             21.5b1
bs4               0.0.1
certifi           2020.12.5
chardet           4.0.0
click             8.0.1
idna              2.10
lxml              4.6.3
multidict         5.1.0
mypy-extensions   0.4.3
pathspec          0.8.1
pip               21.0.1
regex             2021.4.4
requests          2.25.1
setuptools        54.2.0
soupsieve         2.2.1
toml              0.10.2
typing-extensions 3.10.0.0
urllib3           1.26.5
yarl              1.6.3
